/* FONTS
 * FONTS.SASS */
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,600,600i,700);
/* GENERAL STYLES - BASE/COMMON */
* {
  transition: all 0.25s ease 0s; }

*,
html {
  box-sizing: border-box; }

::-webkit-scrollbar {
  display: none; }

body {
  background-color: #f9fafc;
  font-family: "IBM Plex Sans", Arial;
  margin: 0; }

a:hover, a:active, a:focus,
button:hover,
button:active,
button:focus {
  cursor: pointer; }

a {
  text-decoration: none; }
  a:hover, a:active, a:focus {
    font-weight: 600; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

button {
  border: none;
  outline: none; }

input {
  outline: none; }

dd {
  margin: 0; }

/* HELPER CLASSES - BASE/HELPERS */
.container {
  margin: 0 auto;
  max-width: 87.5%;
  width: 100%; }

/* GALLERY COMPONENT STYLES */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }

.gallery-img .section-img {
  display: none;
  height: 0;
  opacity: 0;
  width: 0; }

.gallery-img.active .section-img {
  display: block;
  height: auto;
  opacity: 1;
  width: 100%; }

.gallery-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 2.125em; }

.gallery-nav-link {
  background-color: #dedede;
  border: none;
  border-radius: 50%;
  height: 0.875em;
  margin: 0 1.25em;
  width: 0.875em; }
  .gallery-nav-link:hover, .gallery-nav-link.active {
    background-color: #e51d37;
    border: 3px solid black; }

/* IMAGE COMPONENT STYLES */
.section-img,
.section-img > img,
figcaption {
  width: 100%; }

.section-img {
  align-self: center;
  border-bottom: 0.5px solid #dedede;
  margin: 1.0625em 0 2.125em; }
  @media all and (max-width: 48em) {
    .section-img {
      margin-bottom: 1.0625em; } }
  .section-img.inactive {
    height: 0;
    opacity: 0;
    width: 0; }
  .section-img.active {
    height: auto;
    opacity: 1;
    width: 100%; }

figcaption .credit {
  display: block;
  color: black;
  font-size: 0.875em;
  font-weight: 600;
  margin: 0 0 1.0625em; }
  @media all and (max-width: 48em) {
    figcaption .credit {
      font-size: 0.8125em; } }
  @media all and (max-width: 30em) {
    figcaption .credit {
      font-size: 0.75em; } }
  figcaption .credit a {
    color: #e51d37; }

.caption {
  color: #9b9b9b;
  font-style: italic;
  margin: 0.3125em 0; }
  @media all and (max-width: 48em) {
    .caption {
      font-size: 0.875em; } }
  @media all and (max-width: 30em) {
    .caption {
      font-size: 0.8125em; } }

/* LOADING COMPONENT STYLES */
/* FOOTER STYLES */
footer {
  border-top: 0.03125em solid #dedede;
  padding: 2.125em 0;
  width: 100vw; }
  footer .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start; }

.footer-title,
.footer-column-link,
.footer-list-link,
.editors {
  font-size: 0.875em; }

.footer-title,
.footer-column-link {
  font-weight: 700; }

@media all and (max-width: 48em) {
  .footer-column:not(:last-of-type) {
    margin-bottom: 1.0625em; } }

.categories,
.contact-editors {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }
  @media all and (max-width: 48em) {
    .categories,
    .contact-editors {
      flex-direction: column; } }

.categories {
  border-bottom: 0.03125em solid #dedede;
  padding-bottom: 2.125em;
  width: 100%; }

.footer-column-link {
  color: #e51d37; }

.footer-list-link {
  color: black;
  font-weight: 400; }
  .footer-list-link:hover {
    font-weight: 600; }
  .footer-list-link:not(:first-of-type) {
    margin: 0 0 0 1em; }

.contact-editors {
  padding-top: 2.125em; }

@media all and (min-width: 48em) {
  .editors {
    text-align: right; } }

.contact-title-link {
  color: #e51d37 !important;
  font-size: 0.875em;
  font-weight: 700 !important;
  margin: 0; }

.contact-phone {
  font-size: 0.875em; }
  .contact-phone:not(:last-of-type) {
    margin: 0 0 0.5em; }
  .contact-phone a {
    color: black;
    font-weight: 700; }
    .contact-phone a:hover, .contact-phone a:active, .contact-phone a:focus {
      color: #e51d37; }

.stay-connected-copyright {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 0.875em;
  margin-top: 1em; }
  @media all and (max-width: 48em) {
    .stay-connected-copyright {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between; } }
  .stay-connected-copyright a {
    color: black; }
    .stay-connected-copyright a:hover {
      color: #e51d37; }

.editors span {
  color: #e51d37;
  font-weight: 600; }

.editors dl:not(:last-of-type) {
  margin: 0 0 0.5em; }

.editors dl span {
  color: black; }

.stay-connected {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start; }
  @media all and (max-width: 48em) {
    .stay-connected {
      flex-direction: column;
      align-items: stretch; } }
  .stay-connected p,
  .stay-connected .nav-link:not(:last-of-type) {
    margin: 0 0.5em 0 0; }
  @media all and (max-width: 48em) {
    .stay-connected p,
    .stay-connected .nav-link {
      margin: 0; } }
  .stay-connected p {
    font-weight: 700; }
  .stay-connected .nav-link:hover {
    color: #e51d37; }

.copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  color: black;
  font-weight: 700; }
  @media all and (max-width: 48em) {
    .copyright {
      align-items: flex-start;
      margin-top: 1em; } }
  .copyright:hover {
    font-weight: 700; }

.copyright-lab:hover, .copyright-lab:active, .copyright-lab:focus,
.copyright-lex:hover,
.copyright-lex:active,
.copyright-lex:focus {
  font-weight: 700 !important; }

.copyright-lab {
  margin-bottom: 0.3125em; }

.copyright-lex {
  color: rgba(155, 155, 155, 0.85) !important; }
  .copyright-lex:hover, .copyright-lex:active, .copyright-lex:focus {
    color: #e51d37 !important; }

/* LANDING LAYOUT COMPONENT STYLES */
.landing {
  background-image: url("../../assets/images/landing-bkg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100vh;
  padding-bottom: 5.3125em;
  width: 100vw; }
  .landing h1, .landing h2 {
    margin: 0; }
  .landing h1 {
    color: #f9fafc;
    font-size: 2.25em; }
    @media all and (max-width: 48em) {
      .landing h1 {
        font-size: 1.5625em; } }
    @media all and (max-width: 30em) {
      .landing h1 {
        font-size: 1.375em; } }
  .landing h2 {
    color: #e51d37;
    font-size: 1.5625em;
    font-weight: 400;
    text-transform: uppercase; }
    @media all and (max-width: 48em) {
      .landing h2 {
        font-size: 1.375em; } }
    @media all and (max-width: 30em) {
      .landing h2 {
        font-size: 1.0625em; } }

.blurb {
  color: rgba(249, 250, 252, 0.7);
  font-size: 0.875em;
  width: 50%; }
  @media all and (max-width: 48em) {
    .blurb {
      width: 100%; } }

.title {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  justify-content: flex-start; }

.credit {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  color: #f9fafc;
  font-size: 0.875em;
  margin-top: 0.3125em; }
  .credit p {
    margin: 0; }
  .credit a {
    color: #f9fafc;
    font-weight: 600; }
    @media all and (max-width: 48em) {
      .credit a {
        text-decoration-color: #f9fafc; } }
    .credit a:hover {
      color: #e51d37; }

/* NAVIGATION LAYOUT COMPONENT STYLES */
#navigation {
  position: absolute;
  z-index: 5; }

nav {
  position: fixed;
  right: 1%;
  top: 5.3125em; }
  @media all and (max-width: 48em) {
    nav {
      background-color: black;
      padding: 1em 0;
      right: 0;
      top: 0;
      width: 100%; } }
  nav > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    max-width: 87.5%; }
    @media all and (max-width: 48em) {
      nav > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow-x: scroll; } }
    nav > div .fa-location-arrow {
      color: #e51d37;
      font-size: 1.625em;
      margin: 0 0.625em 0.78125em 0; }
      @media all and (max-width: 48em) {
        nav > div .fa-location-arrow {
          margin: 0 0.66406em 0 0; } }

.navigation-link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start; }
  @media all and (max-width: 48em) {
    .navigation-link {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;
      margin: 0 1.32812em 0 0; }
      .navigation-link > p {
        font-size: 0.625em;
        height: auto;
        opacity: 1;
        margin: 0 0 0 0.46875em; } }
  .navigation-link .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start; }
  .navigation-link > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media all and (max-width: 48em) {
      .navigation-link > div + p {
        height: auto !important;
        opacity: 1 !important;
        margin: 0 0 0 0.46875em; } }
  .navigation-link > p {
    color: #f9fafc;
    font-size: 0.75em;
    text-align: center; }
    @media all and (min-width: 48em) {
      .navigation-link > p {
        height: 0;
        margin: 0;
        opacity: 0; } }

.navigation-link-circle {
  background-color: transparent;
  border: 3px solid #e51d37;
  border-radius: 50%;
  height: 0.875em;
  margin: 0 1.25em;
  width: 0.875em; }
  @media all and (max-width: 48em) {
    .navigation-link-circle {
      border: 3px solid #e51d37;
      margin: 0; }
      .navigation-link-circle.active, .navigation-link-circle:hover {
        background-color: transparent !important;
        border-color: #e51d37; }
        .navigation-link-circle.active + p, .navigation-link-circle:hover + p {
          color: #e51d37; } }
  .navigation-link-circle + p {
    color: #9b9b9b; }
  .navigation-link-circle.active, .navigation-link-circle:hover {
    background-color: #e51d37; }

.navigation-link-line {
  height: 3.125em;
  border-left: 1px solid #dedede; }
  @media all and (max-width: 48em) {
    .navigation-link-line {
      height: 0; } }

/* SECTION COMPONENT STYLES */
.section:last-of-type .section-content > .section-graf:last-of-type {
  color: #e51d37;
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 0; }

.section-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start; }

.section-heading {
  color: #e51d37;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 0;
  text-transform: uppercase; }

.section-graf {
  font-size: 0.9375em;
  margin: 0 0 1.25em; }
  @media all and (min-width: 90em) {
    .section-graf {
      margin: 0 0 1.5em 0; } }
  @media all and (max-width: 48em) {
    .section-graf {
      font-size: 0.875em; } }

.section-pullquote {
  border-left: 5px solid #dedede;
  color: rgba(229, 29, 55, 0.5);
  font-weight: 700;
  font-style: italic;
  font-size: 1.875em;
  margin: 0 0 0.75em 0;
  padding: 0.5em 1em;
  text-align: left; }
  @media all and (max-width: 48em) {
    .section-pullquote {
      font-size: 1.5625em; } }
  @media all and (max-width: 30em) {
    .section-pullquote {
      font-size: 1.25em; } }

/* STORY LAYOUT COMPONENT STYLES */
.story {
  padding-bottom: 5.3125em; }

/* INDEX PAGE STYLES */
